doctype html
html(lang="en")
  include ../partials/head.pug
  body
    .page
      include ../partials/header
      main.wrapper
        .container

          block content

    include ../partials/js.pug
