extends ./layouts/index.pug

block content
  include ./partials/thesis.pug
  include ./partials/calculator.pug
  include ./partials/steps.pug
  include ./partials/feedback.pug
  include ./partials/advantages.pug
  include ./partials/faq.pug
