.caluclator__wrapper
    .calculator
        .calculator__header
            h2.text--blue Berechne den Preis
            p.p--sm.text--light-gray Bitte fülle alle nötigen Felder aus und der Preisrechner zeigt dir den Preis
        .calculator__form
            .date-picker
                .selected-date
                .dates
                    .month
                        .arrows.prev-mth &lt;
                        .mth
                        .arrows.next-mth &gt;
                    .days
