.faq__wrapper
  .faq
    .faq__header
      .faq__title
        h1.text--blue FAQ
    
    .faq__content 
      .faq__card.faq__card--open
        .faq__card__header.arrow
          h4.text--blue.text--bold Wann muss ich eine Facharbeit schreiben?
        .faq__card__line
        .faq__card__content
          p.p.p--md.text--light-gray Eine Facharbeit wird für gewöhnlich in der Oberstufe geschrieben. Sie stellt eine Art Vorbereitung auf das wissenschaftliche Arbeiten an der Universität dar.
    .faq__footer
