.feedback__wrapper 
  .feedback__header 
    .feedback__title
      h2.text--blue Lies hier, was unsere Kunden über uns zu sagen haben
    .feedback__text
      p.p.p--md.text--light-gray Lass dich von den Erfolgsgeschichten unserer Kunden inspirieren!
  .feedback__content
    .card__wrapper
      .card
        .card__header
          .card__quote
            img(src="./img/quote.svg", alt="")
          .card__rating
            .card__number.text--light-gray 5.0
            ul.card__list
              li.card__item
                img(src="./img/star.svg", alt="")
              li.card__item
                img(src="./img/star.svg", alt="")
              li.card__item
                img(src="./img/star.svg", alt="")
              li.card__item
                img(src="./img/star.svg", alt="")
              li.card__item
                img(src="./img/star.svg", alt="")

        .card__body
          p.p

        .card__footer
  
  .feedback__footer