include ./mixins.pug
.feedback__wrapper 
  .feedback__header 
    .feedback__title
      h2.text--blue Lies hier, was unsere Kunden über uns zu sagen haben
    .feedback__text
      p.p.p--md.text--light-gray Lass dich von den Erfolgsgeschichten unserer Kunden inspirieren!
  .feedback__content
    .carousel#feedback
      .carousel__item#feedback-1
        +card(4.2, "./img/avatar.png", 21015, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien

        +card("5.0", "./img/avatar.png", 1337, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien

        +card(4.2, "./img/avatar.png", 228038, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien

      .carousel__item#feedback-2
        +card(4.2, "./img/avatar.png", 21015, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien

        +card(4.2, "./img/avatar.png", 21015, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien

        +card(4.2, "./img/avatar.png", 21015, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien
      
      .carousel__item#feedback-3
        +card(4.2, "./img/avatar.png", 21015, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien

        +card(4.2, "./img/avatar.png", 21015, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien

        +card(4.2, "./img/avatar.png", 21015, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien
    
      .carousel__item#feedback-4
        +card(4.2, "./img/avatar.png", 21015, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien

        +card(4.2, "./img/avatar.png", 21015, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien

        +card(4.2, "./img/avatar.png", 21015, "Bachelorarbeit|Geisteswissenschaften")
          p.p.p--md.text--italic.text--light-gray Ich wollte mich recht herzlich bei Ihnen für die tolle Analyse bedanken - ich habe die Note A+ bekommen. Tausend Dank für die tolle Arbeit und liebe Grüße aus Wien
    
  .feedback__footer
    .feedback__add
      button.btn--link.text--green Feedback hinzufügen
    .carousel__nav
      ul.carousel__nav_list
        li.carousel__nav_item
          button.carousel__btn.carousel--active(data-id="feedback-1" data-carousel-id="feedback")
        li.carousel__nav_item
          button.carousel__btn(data-id="feedback-2" data-carousel-id="feedback")
        li.carousel__nav_item
          button.carousel__btn(data-id="feedback-3" data-carousel-id="feedback")
        li.carousel__nav_item
          button.carousel__btn(data-id="feedback-4" data-carousel-id="feedback")