header
    .header__wrapper
        .header__logo
            .logo
                img.logo__icon(src='./img/logo.svg' alt='mainLogo')
            .logo--text
                p.p--md.p--bold Papier
                p.p--sm.p--bold schreiben
        .header__navbar
            ul.navbar__list
                li.navbar__item.navbar__icon
                    img(src='./img/search.svg')
                li.navbar__item.navbar__icon
                    a.navbar__link.text--bold.text--light-gray
                        img.mobile--icon(src='./img/mobile-vibration.svg')
                        p.text--light-gray.p--xs Anruf
                li.navbar__item
                    a.navbar__link.text--light-gray.p--xs Generatoren
                li.navbar__item
                    a.navbar__link.text--light-gray.p--xs Preise
                li.navbar__item
                    a.navbar__link.text--light-gray.p--xs Wie funktioniert es?

                li.navbar__item
                    a.navbar__link.text--light-gray.p--xs FAQ
                li.navbar__item
                    a.navbar__link.text--light-gray.p--xs Kontakt
            .navbar__btnwrapper
                button.btn.btn--sm Anfragen
                button.btn.btn--secondary Anmelden