include ./mixins.pug

.steps__wrapper 
  .steps__header 
    .steps__title
      h2.text--blue Die Facharbeit in wenigen Schritten schreiben
    .steps__text
      p.p.p--md.text--light-gray In den nächsten Abschnitten liest Du, wie eine Facharbeit Schritt für Schritt erstellt wird. Ein Tipp vorweg: Die Länge der wissenschaftlichen Arbeit beträgt i.d.R. zwischen zehn und 12 Seiten.
  .steps__content
    .slider-inline 
      .slider-inline__steps 
        .slider-inline__step.slider-inline--active(data-id="step-1")
          .slider-inline__number 1
          .slider-inline__text
            p.p.p--sm Das passende Thema finden

        .slider-inline__division

        .slider-inline__step(data-id="step-2")
          .slider-inline__number 2
          .slider-inline__text
            p.p.p--sm Die Gliederung erstellen

        .slider-inline__division
        
        .slider-inline__step(data-id="step-3")
          .slider-inline__number 3
          .slider-inline__text
            p.p.p--sm Die Facharbeit schreiben

        .slider-inline__division

        .slider-inline__step(data-id="step-4")
          .slider-inline__number 4
          .slider-inline__text
            p.p.p--sm Die Facharbeit überprüfen (lassen)

      .slider-inline__content
        +slideInline
          .slider-inline__slide.slider-inline--active#step-1
            .slider-inline__header
              h3.text--blue Schritt 1
              h2.text--blue Das passende Thema finden:
            .slide__wrapper
              +sliderList
                ul.slider__list
                  li.text--lg.text--light-gray.slider__btn.slider--active(data-id="slide-1-1" data-step-id="step-1") 
                    span
                    p Die Einleitung schreiben
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-1-2" data-step-id="step-1") 
                    span
                    p Einführung
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-1-3" data-step-id="step-1") 
                    span
                    p Den Hauptteil verfassen
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-1-4" data-step-id="step-1") 
                    span 
                    p Das Fazit schreiben
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-1-5" data-step-id="step-1")
                    span
                    p Richtig zitieren will gelernt sein!
              //- SLIDES
              +slide("slide-1-1", true)
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm Einführung in das Thema und die Frage, die behandelt wird.
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-1-2")
                p.p--sm SLIDE 1-2
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm other text
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-1-3")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDE 1-3
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-1-4")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDER 1-4
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-1-5")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDE 1-5
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              //- end slides
        
        +slideInline
          .slider-inline__slide#step-2
            .slider-inline__header
              h3.text--blue Schritt 2
              h2.text--blue Die Gliederung erstellen:
            .slide__wrapper
              +sliderList
                ul.slider__list
                  li.text--lg.text--light-gray.slider__btn.slider--active(data-id="slide-2-1" data-step-id="step-2") 
                    span
                    p Die Einleitung schreiben
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-2-2" data-step-id="step-2") 
                    span
                    p Einführung
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-2-3" data-step-id="step-2") 
                    span
                    p Den Hauptteil verfassen
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-2-4" data-step-id="step-2") 
                    span 
                    p Das Fazit schreiben
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-2-5" data-step-id="step-2") 
                    span
                    p Richtig zitieren will gelernt sein!
              //- SLIDES
              +slide("slide-2-1", true)
                p.p--sm slide 2-1
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm Einführung in das Thema und die Frage, die behandelt wird.
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-2-2")
                p.p--sm SLIDE 2-2
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm other text
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-2-3")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDE 2-3
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-2-4")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDER 2-4
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-2-5")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDE 2-5
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              //- end slides

        +slideInline
          .slider-inline__slide#step-3
            .slider-inline__header
              h3.text--blue Schritt 3
              h2.text--blue Die Facharbeit schreiben:
            .slide__wrapper
              +sliderList
                ul.slider__list
                  li.text--lg.text--light-gray.slider__btn.slider--active(data-id="slide-3-1" data-step-id="step-3") 
                    span
                    p Die Einleitung schreiben
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-3-2" data-step-id="step-3") 
                    span
                    p Einführung
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-3-3" data-step-id="step-3") 
                    span
                    p Den Hauptteil verfassen
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-3-4" data-step-id="step-3") 
                    span 
                    p Das Fazit schreiben
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-3-5" data-step-id="step-3") 
                    span
                    p Richtig zitieren will gelernt sein!
              //- SLIDES
              +slide("slide-3-1", true)
                p.p--sm slide 3-1
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm Einführung in das Thema und die Frage, die behandelt wird.
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-3-2")
                p.p--sm SLIDE 3-2
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm other text
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-3-3")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDE 3-3
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-3-4")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDER 3-4
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-3-5")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDE 3-5
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              //- end slides

        +slideInline
          .slider-inline__slide#step-4
            .slider-inline__header
              h3.text--blue Schritt 4
              h2.text--blue Die Facharbeit schreiben:
            .slide__wrapper
              +sliderList
                ul.slider__list
                  li.text--lg.text--light-gray.slider__btn.slider--active(data-id="slide-4-1" data-step-id="step-4") 
                    span
                    p Die Einleitung schreiben
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-4-2" data-step-id="step-4") 
                    span
                    p Einführung
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-4-3" data-step-id="step-4") 
                    span
                    p Den Hauptteil verfassen
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-4-4" data-step-id="step-4") 
                    span 
                    p Das Fazit schreiben
                  li.text--lg.text--light-gray.slider__btn(data-id="slide-4-5" data-step-id="step-4") 
                    span
                    p Richtig zitieren will gelernt sein!
              //- SLIDES
              +slide("slide-4-1", true)
                p.p--sm slide 4-1
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm Einführung in das Thema und die Frage, die behandelt wird.
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-4-2")
                p.p--sm SLIDE 4-2
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm other text
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-4-3")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDE 4-3
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-4-4")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDER 4-4
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              +slide("slide-4-5")
                p.p--sm Die Einleitung enthält diese Elemente:
                ul.content__list
                  li.content__item.p--sm 
                    span 1. 
                    p.p--sm SLIDE 4-5
                  li.content__item.p--sm 
                    span 2. 
                    p.p--sm Übersicht über die inhaltliche Vorgehensweise und die Struktur der Arbeit.
                  li.content__item.p--sm 
                    span 3.
                    p.p--sm Formulierung des Ziels der Arbeit und Erläuterung der notwendigen Schritte, um dieses zu erreichen.
                div
                  span.p--sm  Übrigens:
                  p.p--sm Die Einleitung macht fünf bis zehn Prozent der Facharbeit aus.
              //- end slides    