.steps__wrapper 
  .steps__header 
    .steps__title
      h2.text--blue Die Facharbeit in wenigen Schritten schreiben
    .steps__text
      p.p.p--md.text--light-gray In den n채chsten Abschnitten liest Du, wie eine Facharbeit Schritt f체r Schritt erstellt wird. Ein Tipp vorweg: Die L채nge der wissenschaftlichen Arbeit betr채gt i.d.R. zwischen zehn und 12 Seiten.
  .steps__content
    .slider-inline 
      .slider-inline__steps 
        .slider-inline__step 
          .slider-inline__number 1
          .slider-inline__text ass

        .slider-inline__division

        .slider-inline__step 
          .slider-inline__number.text--bold 2
          .slider-inline__text assd

        .slider-inline__division
        
        .slider-inline__step 
          .slider-inline__number.text--bold 3
          .slider-inline__text dsa

        .slider-inline__division

        .slider-inline__step 
          .slider-inline__number.text--bold 4
          .slider-inline__text leykum

      .slider-inline__content