.steps__wrapper 
  .steps__header 
    .steps__title
      h2.text--blue Die Facharbeit in wenigen Schritten schreiben
    .steps__text
      p.p.p--md.text--light-gray In den nächsten Abschnitten liest Du, wie eine Facharbeit Schritt für Schritt erstellt wird. Ein Tipp vorweg: Die Länge der wissenschaftlichen Arbeit beträgt i.d.R. zwischen zehn und 12 Seiten.
  .steps__content
    .slider-inline 
      .slider-inline__steps 
        .slider-inline__step.slider-inline--active(slideId="slide-1")
          .slider-inline__number 1
          .slider-inline__text
            p.p.p--sm Das passende Thema finden

        .slider-inline__division

        .slider-inline__step(slideId="slide-2")
          .slider-inline__number 2
          .slider-inline__text
            p.p.p--sm Die Gliederung erstellen

        .slider-inline__division
        
        .slider-inline__step(slideId="slide-3")
          .slider-inline__number 3
          .slider-inline__text
            p.p.p--sm Die Facharbeit schreiben

        .slider-inline__division

        .slider-inline__step(slideId="slide-4")
          .slider-inline__number 4
          .slider-inline__text
            p.p.p--sm Die Facharbeit überprüfen (lassen)

      .slider-inline__content
        .slider-inline__slide.slider-inline--active#slide-1 asd
        .slider-inline__slide#slide-2 chen
        .slider-inline__slide#slide-3 CHUMAHOD BITS
        .slider-inline__slide#slide-4 jinger
        