.btn
  background-color: $primary
  color: $white

  padding: 1.6rem 6.75rem
  border-radius: 1rem

  border: none

  transition: all .15s linear

  &:hover
    box-shadow: $shadow-success

  &--sm
    padding: 0.6rem 2.4rem
    line-height: 2.25rem
  &--md
    padding: 1.5rem 4.3rem

  &--secondary
    color: $light-gray
    background-color: $bg

    padding: 0.4rem 2.2rem
    border: 2px solid $border
    font-size: 1.6rem

    &:hover
      border: 2px solid $primary
      color: $primary
      box-shadow: none
