.calculator__wrapper
  margin-top: 110px
  width: 100%

  .calculator
    width: inherit
    display: flex
    flex-direction: column
    align-items: center
    padding: 6rem 10rem 6.5rem 10rem
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16)
    border-radius: 8px

    .calculator__header
      h2
        margin-bottom: 1.6rem

      p
        margin-bottom: 2.5rem

  .calculator__form-wrapper
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 80% 18.3%
    gap: 2rem

    .calculator__form
      display: grid
      gap: 2rem
      width: 100%
      .workType
        grid-area: workType
        width: 18rem

      .academicLevel
        grid-area: academicLevel
        width: 18rem
      .input__wrapper
        grid-area: input__wrapper
        width: 18rem
      .picker
        grid-area: picker
        width: 180px
        min-width: 180px

      .paperType
        grid-area: paperType

      .subj
        grid-area: subj
      grid-template-areas: "workType academicLevel input__wrapper picker""paperType paperType subj subj"
    .calculator__submit
      display: flex
      flex-direction: column
      justify-content: space-between
      gap: 2rem
      align-items: center
      h3
        height: 50%
        display: flex
        text-align: center
        vertical-align: center
      button
        width: 100%
