.carousel__nav_list
  display: flex
  justify-content: center
  align-items: center
  gap: 15px

.carousel__btn
  border: none
  appearance: none
  outline: none

  border-radius: 50%
  width: 15px
  height: 15px

  background-color: $addBlue

  cursor: pointer

  &.carousel--active
    background-color: $light-blue



