.slider-inline__steps
  display: flex
  gap: .5rem

.slider-inline__step

  &--active
    .slider-inline__number
      color: $primary
      background-color: $addGreen

.slider-inline__number

  width: 4rem
  height: 4rem

  border-radius: 50%
  background-color: $addBlue

  font-family: $font-title
  font-size: 2.4rem
  line-height: 2.4rem
  text-align: center
  color: $addDarkBlue
  p
